@model AppointmentManagementSystem.Models.Appointment

@{
    ViewData["Title"] = "Details";
    string userId = Context.User.Identity.Name;
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

        <dt class="col-sm-2">
            Phone Number
        </dt>
        <dd class="col-sm-10">
            @{
                // Retrieve user's phone number based on their email
                var userManager = Context.RequestServices.GetRequiredService<UserManager<AppUser>>();
                var user = await userManager.FindByEmailAsync(Model.UserEmail);
                if (user != null)
                {
                    @user.PhoneNumber
                } else
                {
                    <p>N/A</p>
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AppointmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
